include README.md
include LICENSE
include version.txt
include requirements.txt
global-include *.py
global-include *.pyx
global-include *.cpp
global-include *.h
global-include *.csv
global-include *.xes
global-include *.txt
global-include *.data
global-include *.jar
global-include *.names
global-include *.xml
global-include *.xes.gz
global-exclude *.pyc
global-exclude *.pyd
global-exclude *.o
global-exclude *.exe
prune notebooks
prune prolothar_tests
prune experiments
prune deployment
prune venv*
prune .venv*